<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdl.sharding.table.mapper.TTestUserAmountMapper">

    <insert id="saveTTestUserAmount" parameterType="com.cdl.sharding.table.model.TTestUserAmount">
        insert into t_test_user_amount values (#{userId},#{createTime})
    </insert>

</mapper>